<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style-session.css">
    <base href="/login">
    <title>econoshop-login</title>
</head>
<body>
    <div class="main-titleBox">
        <a class="main-title" href="http://localhost:3000/">Econo Shop</a>
    </div>
    <h1 class="sub-title">로그인</h1>
    <!-- link -->
    <div class="private-a-box">
      <a class="a to-mypage" href="/mypage">마이페이지</a>
      <a class="a to-cart" href="/cart">장바구니</a>
    </div>
    <!-- login form -->
  <div class="sign-up-form">
    <form action="/login" method="post" name="inputForm">
      <div class="container">
        <div class="id box">
          <input class='input-id'type="text" placeholder="ID*" name="id" maxlength="20">
          <span class="id-invalid-check">PLEASE ENTER ID</span>
        </div>
        <br>
        <div class="pw box">
          <input class='input-pw-login' type="password" placeholder="PASSWORD*" name="pw" maxlength="20">
          <span class="pw-invalid-check">PLEASE ENTER PW</span>
        </div>
        <br>
        <div class="clearfix-login">
          <a>아이디 찾기</a>
          <a>비밀번호 찾기</a>
          <a class="a to-login" href="/signup">회원가입</a>
          <button type="submit" class="signupbtn">LOG IN</button>
        </div>
      </div>
    </form>
  </div>
<script src="js/domain/login.js"></script>
</body>
</html>
