
<section class="section-info">
    <form action="/mypage" class="user-info" method="post">
        <div class="user-s id">
            <h2><%= userSession.id %></h2><h4 class="user-semester">에코노베이션 <%= userSession.semester %>기</h4>
        </div>
        <div class="user-s email">
            <p><%= userSession.email %></p>
            <span class="user-border"></span>
        </div>
        <div class="user-s input-current-pw">
            <input type="password" placeholder="CURRENT PASSWORD" maxlength="20" name="currentPw"></input>
            <span class="user-border"></span>
        </div>
        <div class="user-s input-new-pw">
            <input type="password" placeholder="NEW PASSWORD" maxlength="20" name="newPw"></input>
            <span class="user-border"></span>
        </div>
        <div class="user-s input-new-pwr">
            <input type="password" placeholder="NEW PASSWORD" maxlength="20" name="newPwr"></input>
            <span class="user-border"></span>
        </div>
        <div class="info-modify">
            <button type="reset" class="cancel-btn">취소</button>
            <button type="submit" class="modify-btn">수정</button>
        </div>
    </form>
</section>


